In [1]:
import pandas as pd
import pickle
import glob
import os
import re

In [2]:
import glob
print(glob.glob("/aparup_test/test/*.pkl"))

['/aparup_test/test\\41000_41500.pkl', '/aparup_test/test\\41500_42000.pkl', '/aparup_test/test\\42000_42500.pkl', '/aparup_test/test\\42500_43000.pkl', '/aparup_test/test\\43000_43500.pkl', '/aparup_test/test\\44000_44500.pkl']

In [3]:
import glob
file_name = glob.glob("/aparup_test/test/*.pkl")

In [4]:
file_name

['/aparup_test/test\\41000_41500.pkl',
 '/aparup_test/test\\41500_42000.pkl',
 '/aparup_test/test\\42000_42500.pkl',
 '/aparup_test/test\\42500_43000.pkl',
 '/aparup_test/test\\43000_43500.pkl',
 '/aparup_test/test\\44000_44500.pkl']

In [5]:
type(file_name)

list

In [6]:
id_arr = []
created_at_arr = []
lang_arr = []
full_text_arr = []
usr_arr = []

for file in file_name:
    infile = open(file, 'rb')
    new_dict = pickle.load(infile)
    for key in new_dict:
        tweet_acess=new_dict[key]
        for tweet_data in tweet_acess:
            text_acess=tweet_data['full_text']
            full_text_arr.append(text_acess)
            text_acess=tweet_data['lang']
            lang_arr.append(text_acess)
            text_acess=tweet_data['created_at']
            created_at_arr.append(text_acess)
            text_acess=tweet_data['id']
            id_arr.append(text_acess)
    infile.close

In [7]:
full_text_df = pd.DataFrame(full_text_arr) 
full_text_df.columns = ["full_text"]

In [8]:
tweet_lang_df = pd.DataFrame(lang_arr) 
tweet_lang_df.columns = ["lang"]

In [9]:
created_at_df = pd.DataFrame(created_at_arr) 
created_at_df.columns = ["created_at"]

In [10]:
id_df = pd.DataFrame(id_arr) 
id_df.columns = ["id"]

In [11]:
# df_col = pd.concat([created_at_df,full_text_df,tweet_lang_df,user_df], axis=1)
df_col = pd.concat([id_df,created_at_df,full_text_df,tweet_lang_df], axis=1)

In [12]:
df_col

,id,created_at,full_text,lang
0,1217860703748612096,Thu Jan 16 17:26:33 +0000 2020,@POussy93 الطيب احسن,ar
1,1213603968829534216,Sat Jan 04 23:31:48 +0000 2020,RT @mola42000: يا ريت ريتويت علي اوسع نطاق \nا...,ar
2,1181906696119209987,Wed Oct 09 12:18:09 +0000 2019,@jejelovesf7201 تنورى بدون متجيبى حاجة وانتى ج...,ar
3,1179010312432951296,Tue Oct 01 12:28:58 +0000 2019,@batol_private جودى او حور,ar
4,1178620909185359872,Mon Sep 30 10:41:37 +0000 2019,@zXW7ZkVEex5vBtu احنا بتوع الكراتين يا ابو طارق🤣🤣,ar
...,...,...,...,...
280268,302026597521842176,Thu Feb 14 12:08:46 +0000 2013,@NicoleSabaaa love you so much :)))),en
280269,300727657467899904,Sun Feb 10 22:07:15 +0000 2013,@hala_marz :),und
280270,294817916774391808,Fri Jan 25 14:44:03 +0000 2013,For Who Want to Join Maher World :\nFacebook: ...,en
280271,293359155543158786,Mon Jan 21 14:07:27 +0000 2013,"بأسلوبي , بأبتسامتي , بهدوئي أجعل من يخطئ بحقي...",ar
280272,293348609678778368,Mon Jan 21 13:25:33 +0000 2013,haaaay guys any one can follow on Twitter @Mah...,en

In [13]:
DF2 = df_col[df_col["full_text"].str.contains("asylum|immigrant|immigration|migrant|refugee|refugee#ImmigrantStories|#refugeecrisis|#RefugeeEconomics|#RefugeeForum|#RefugeesNotTerrorists|#RefugeesWelcome|#SyrianRefugees|#UN4RefugeesMigrants|#WelcomeRefugees|#WithRefugees",flags=re.IGNORECASE, na=False)]

In [14]:
# DF3 = df_col[df_col["full_text"].str.contains("asylum|immigrant|immigration|migrant|refugee|Syria",flags=re.IGNORECASE, na=False)]

In [15]:
DF2

,id,created_at,full_text,lang
718,1141701192927473669,Thu Jun 20 13:35:50 +0000 2019,RT @TheMahiraKhan: They’ve been denied a home....,en
1449,1108382919117029377,Wed Mar 20 15:00:55 +0000 2019,RT @trtworld: Here are some of the politicians...,en
1659,1092852253344509952,Tue Feb 05 18:27:36 +0000 2019,RT @IFRCAsiaPacific: Today @Refugees goodwill ...,en
1896,1045672633193263104,Fri Sep 28 13:52:38 +0000 2018,RT @albd1971: HPM #SheikhHasina met with the @...,en
2095,1031967469575888896,Tue Aug 21 18:13:12 +0000 2018,@RefugeesChief Thanks a lot❤\nEid Mubarak 😍😍,en
...,...,...,...,...
279526,956023838697033729,Wed Jan 24 04:40:19 +0000 2018,"@Refugees No borders, no nations, stop the dep...",en
279547,954209585002409985,Fri Jan 19 04:31:08 +0000 2018,They would have been great officers at #Dachau...,en
279554,952929622764683264,Mon Jan 15 15:45:01 +0000 2018,@UNHCRinSYRIA @Refugees @UNinSyria @RefugeesMe...,en
279592,950605304655474694,Tue Jan 09 05:49:00 +0000 2018,@Idess_HaloStar @washingtonpost @Oprah @TheRoc...,en
279674,985142460929265666,Sat Apr 14 13:07:20 +0000 2018,RT @BrexitBin: Whether we bomb Syria or we don...,en

In [16]:
DF2.to_pickle('selectedTweets.pkl')

In [17]:
DF4 = pd.read_pickle('selectedTweets.pkl')

In [18]:
DF4

,id,created_at,full_text,lang
718,1141701192927473669,Thu Jun 20 13:35:50 +0000 2019,RT @TheMahiraKhan: They’ve been denied a home....,en
1449,1108382919117029377,Wed Mar 20 15:00:55 +0000 2019,RT @trtworld: Here are some of the politicians...,en
1659,1092852253344509952,Tue Feb 05 18:27:36 +0000 2019,RT @IFRCAsiaPacific: Today @Refugees goodwill ...,en
1896,1045672633193263104,Fri Sep 28 13:52:38 +0000 2018,RT @albd1971: HPM #SheikhHasina met with the @...,en
2095,1031967469575888896,Tue Aug 21 18:13:12 +0000 2018,@RefugeesChief Thanks a lot❤\nEid Mubarak 😍😍,en
...,...,...,...,...
279526,956023838697033729,Wed Jan 24 04:40:19 +0000 2018,"@Refugees No borders, no nations, stop the dep...",en
279547,954209585002409985,Fri Jan 19 04:31:08 +0000 2018,They would have been great officers at #Dachau...,en
279554,952929622764683264,Mon Jan 15 15:45:01 +0000 2018,@UNHCRinSYRIA @Refugees @UNinSyria @RefugeesMe...,en
279592,950605304655474694,Tue Jan 09 05:49:00 +0000 2018,@Idess_HaloStar @washingtonpost @Oprah @TheRoc...,en
279674,985142460929265666,Sat Apr 14 13:07:20 +0000 2018,RT @BrexitBin: Whether we bomb Syria or we don...,en